@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}


.parallax {
    height: 100vh;
    background-image: url('https://picsum.photos/1080/');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.parallax-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background: rgba(255, 255, 255, 0.5);
    max-height: 200px;
    border-radius: 10px;
}

.text-section {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Krona One', sans-serif;
    min-width: 100px;
    
}

.title-highlight {
    color: #22D4FD;
}

.portrait {
    height: 80px;
}

.content-love {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1375fb2;
    font-size: 24px;
    padding: 20px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    max-width: 80%;
    margin-top: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.content-fame {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a4e6eb;
    font-size: 24px;
    padding: 20px;
}

.photo-comparison {
    position: relative;
    max-width: 600px;
    margin: 40px auto; /* Center the comparison div */
    overflow: hidden;
}

.photo-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.photo-base {
    display: block;
    width: 100%;
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: 2;
    border-right: 2px solid #fff;
    opacity: 0.6;
    animation: slide-overlay 6s infinite alternate;
}
@keyframes slide-overlay {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.content-work {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9ec7b3;
    font-size: 24px;
    padding: 20px;
}

.skills-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.skill {
    margin: 15px 0;
    font-size: 18px;
}

.skill-name {
    margin-bottom: 5px;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    position: relative;
}

.skill-fill {
    background-color: #4caf50;
    height: 100%;
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
}